@import 'normalize';
 
body {
	font-family: 'Hiragino Kaku Gothic Pro',Meiryo,'MS PGothic',sans-serif;
	line-height: 1.5;
}

a {
	color: #3579b3;
}

a:hover {
	color: #C00;
}

.all {
	margin: 0 auto;
}

ul {
	list-style: circle;
	padding: 5px 0 5px 40px;
}

li {
	margin: 5px 0;
}

.mod-header {
	background: #eee7d3;
	padding: 20px 0;
	border-bottom: 3px solid #bfb9a9;

	h1 {
		font-size: 56px;
		padding: 0 0 20px 0;
		text-align: center;
		font-family: monospace;
	}

	h1 a {
		color: #444;
		text-decoration: none;
	}


	nav {
		ul {
			text-align: center;
			font-size: 20px;
		}

		li {
			display: inline-block;
			padding: 0 20px 0 0;
		}

		li a {
			text-decoration: none;
		}
	}
}

.main {
	width: 720px;
	padding: 10px 0;
	margin: 0 auto;

	h2 {
		font-size: 30px;
		padding: 10px 0;
		color: #504e47;
	}

	h3 {
		color: #504e47;
		border-bottom: 2px solid #bfb9a9;
		padding: 10px 0;
	}

	section {
		margin-bottom: 20px;
	}

	.note {
		font-size: 12px;
	}
}
