<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>flipsnap.js{% if page.title %} | {{ page.title }}{% endif %}</title>
<link rel="stylesheet" href="css/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="js/flipsnap.js"></script>
<script src="js/highlight.pack.js"></script>
<script src="js/demo.js"></script>
<script src="js/script.js"></script>
</head>
<body>
<div class="all">

<header class="mod-header">
	<h1><a href="./">flipsnap.js</a></h1>

	<nav>
		<ul>
			<li><a href="start.html">Getting Started</a></li>
			<li><a href="doc.html">Document</a></li>
			<li><a href="demo.html">Demo</a></li>
			<li><a href="download.html">Download</a></li>
		</ul>
	</nav>
</header>

<div class="main">

{{ content }}

<!-- /div.main --></div>

<!-- /div.all --></div>

<a href="http://github.com/pxgrid/js-flipsnap/" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

</body>
</html>
